$white: #fff;
$black: #333;
$dark-gray: #444;
$gray: #666;
$light-gray: #ccc;
$dark-brown: #4c3f38;
$light-brown: #EEE5DE;
$light-blue: #0BB3C7;

$official-twitter: #55acee;
$official-facebook: #455a9e;

$spring: #F4A7B9;
$spring-sub: #F4D0D9;
$summer: #47b2c5;
$summer-sub: #C7EFF2;
$autumn: #db9616;
$autumn-sub: #F9D7A0;
$winter: #336774;
$winter-sub: #91ABAF;

$together-1: #ff619b;
$together-2: #7cb639;
$techbookfest: #4CAF50;
$dark-skyblue: #000e13;
$light-skyblue: #6ab1ad;
$light-gray: #ddd;

$slack-defo: #4d394b;
$slack-active: #4c9689;

$member-def: #4c9689;
$member-def-light: #64b3a4;
$member-def-lightgray: #a3c0b9;
$member-def-channel: #6c7a78;

$primary-font: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$rounded-font: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
$noto-font: 'Noto Sans', sans-serif ;
$code-font: Ricty;

$font-color-brown: $dark-brown;
$font-color-black: $black;

$bezier-fast-ease-out: cubic-bezier(.17,.07,.02,.98);
$bezier-fast-ease-in-out: cubic-bezier(.17,.07,.02,.98);